p {
  color: rgb(0, 0, 0);
  width: 500px;
}

h1 {
  margin: 0;
  padding: 20px 0;
  color: #ff8800;
  text-shadow: 1px 1px 1px black;
  text-align: center;
}

html {
  background-color: #f8e2ee;
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}

img {
  display: block;
  margin: 0 auto;
  width: 600px;
}